body {
    background: #1D1F21;
}

.highlite {
    color: #d67b96;
}

main {
    background-color: #282A2E;
    border-color: #373B41;
}

h1 {
    color: #FFF;
}

.subtitle {
    color: #FFF;
}

.searchBar::-webkit-input-placeholder {
    color: rgba(0,0,0,0);
}
.searchBar {
    color: rgba(0,0,0,0);
    border-color: lightgrey;
}
.searchBar:hover {
    box-shadow: 0 0 5px #FFF;
    border-color: #FFF;
}
.searchBar:focus::-webkit-input-placeholder{
    color: rgba(100,100,100,1);
}
.searchBar:focus {
    color: rgba(100,100,100,1);
}
.google {
    background-image: url('../images/google.png');
}
.youtube {
    background-image: url('../images/youtube.png');
}
.wikipedia {
    background-image: url('../images/wikipedia.jpg');
}
.startpage {
    background-image: url('../images/startpage.jpg');
}
/* Pink button */
.buttonPink > a,
.buttonPink > ul {
    border-color: #373B41;
}
.buttonPink > a,
.buttonPink > ul > li > a {
    color: #81A2BE;
    background: #1D1F21;
}
.buttonPink > a:after {
    border-left-color: #d67b96;
}
.buttonPink:hover > a,
.buttonPink > ul > li > a:hover {
    color: #d67b96;
    background: #70293b;
}
.buttonPink:hover > a,
.buttonPink:hover > ul {
    border-color: #70293b;
}
.buttonPink:hover > a:after {
    border-left-color: #d67b96;
}

/* Blue button */

.buttonBlue > a,
.buttonBlue > ul {
    border-color: #373B41;
}
.buttonBlue > a,
.buttonBlue > ul > li > a {
    color: #81A2BE;
    background: #1D1F21;
}
.buttonBlue > a:after {
    border-left-color: #045FB4;
}
.buttonBlue:hover > a,
.buttonBlue > ul > li > a:hover {
    color: #045FB4;
    background: #2ECCFA;
}
.buttonBlue:hover > a,
.buttonBlue:hover > ul {
    border-color: #2ECCFA;
}
.buttonBlue:hover > a:after {
    border-left-color: #045FB4;
}

/* Green button */
.buttonGreen > a,
.buttonGreen > ul {
    border-color: #91b476;
}
.buttonGreen > a,
.buttonGreen > ul > li > a {
    color: #43644a;
    background: #729a64;
}
.buttonGreen > a:after {
    border-left-color: #91b476;
}
.buttonGreen:hover > a,
.buttonGreen > ul > li > a:hover {
    color: #269926;
    background: #67E667;
}
.buttonGreen:hover > a,
.buttonGreen:hover > ul {
    border-color: #67E667;
}
.buttonGreen:hover > a:after {
    border-left-color: #269926;
}

/* column standard colors */
.column {
    border-right-color: #373B41;
}
.column > a,
.column > ul > li:before {
    color: #1D1F21;
}
.column > a {
    text-shadow: 0 0.5px #373B41;
}
.column > ul > li > a {
    color: #81A2BE;
}

/* Row purple highlite */
.columnBlue:hover > a,
.columnBlue:hover > ul > li:before {
    color: #2EFEF7;
}
.columnBlue:hover > a {
    text-shadow: 0 0.5px #000000;
}
.columnBlue > ul > li > a:hover {
    color: #58FAF4;
}

/* Row pink highlite */
.columnPink:hover > a,
.columnPink:hover > ul > li:before {
    color: #70293b;
}
.columnPink:hover > a {
    text-shadow: 0 0.5px #d67b96;
}
.columnPink > ul > li > a:hover {
    color: #d67b96;
}

/* Row green highlite */
.columnGreen:hover > a,
.columnGreen:hover > ul > li:before {
    color: #43644a;
}
.columnGreen:hover > a {
    text-shadow: 0 0.5px #729a64;
}
.columnGreen > ul > li > a:hover {
    color: #91b476;
}